{% extends 'customer/base.html' %}
{% load static %}

{% block content %}
<!-- /.breadcrumb -->
<div class="breadcrumb">
    <div class="container">
        <div class="breadcrumb-inner">
            <ul class="list-inline list-unstyled">
                <li><a href="#">Home</a></li>
                <li class="active">Coupons</li>
            </ul>
        </div>
        <!-- /.breadcrumb-inner -->
    </div>
    <!-- /.container -->
</div>
<div class="body-content outer-top-ts">
    <div class='container'>

        <div class='row'>

        <div class="col-md-9 rht-col">

            <div class="category-product coupons-section coupons-section-inner">
                <div class="row coupons-deals">
                    {% for coupon in coupons %}
                    <div class="col-sm-6 col-md-6 col-lg-6 wow fadeInUp">
                        <div class="item">
                            <div class="products">
                    <div class="product">
                        <div class="product-image">
                        <div class="image">
                            <img class="img-responsive"
                            src="assets/images/coupons/img1.jpg" alt>
                            <div class="brand">Flipmart</div>
                            <h3 class="name"><a href="#">Flat 40% off on hotel
                                bookings in 10 cities</a></h3>

                        </div>
                        <!-- /.image -->

                        </div>
                        <!-- /.product-image -->

                        <div class="product-info text-left">
                        <div class="discount">{{coupon.name}} <span>OFF</span></div>
                        <div class="show-code"><a href="#" data-toggle="modal"
                            data-target="#myModal">Show Code</a></div>
                        <p class="exp-date"><i class="fa fa-clock-o"></i>
                            Expires on 2019-11-16</p>
                        </div>

                    </div>
                    <!-- /.product -->

                    </div>
                    <!-- /.products -->

                </div>
            </div>
            {% endfor %}
                <!-- /.item -->
                <!-- Modal -->
                <div id="myModal" class="modal fade" role="dialog">
                    <div class="modal-dialog">
        
                    <!-- Modal content-->
                    <div class="modal-content">
        
                        <div class="modal-body">
                        <button type="button" class="close"
                            data-dismiss="modal">&times;</button>
                        <div>
                            <img class="img-responsive"
                            src="{% static 'customer/images/coupons/img1.jpg' %}" alt>
                            <h3 class="mb-20">Flat 40% off hotel bookings in 10
                            cities</h3>
                            <div class="coupon-content">Not applicable to ICANN fees,
                            taxes, transfers,or gift cards. Cannot be used in
                            conjunction with any other offer, sale, discount or
                            promotion.
                            <span
                                style="color: #ed6663; display:block; margin-top:10px;"><a
                                style="color: #ed6663; text-decoration:underline"
                                href="#">Visit our Store</a></span>
                            </div>
        
                        </div>
        
                        <div><h6 class="color-mid">Click below to get your coupon
                            code</h6>
                            <div class="copy-coupon-wrap">
                            <input type="text" value="X132-17GT-OL57"
                                id="X132-17GT-OL571" class="coupon-code">
                            </div></div>
                        </div>
        
                        <div class="modal-footer">
                        <h4>Subscribe to Mail</h4>
                        <p>Get our Daily email newsletter with Special Services,
                            Updates, Offers and more!</p>
                        <form id="mc4wp-form-2" class="mc4wp-form mc4wp-form-1257"
                            method="post" data-id="1257" data-name="dealdots">
                            <div class="mc4wp-form-fields">
                            <div id="container_form_news">
                                <div id="container_form_news2">
                                <input type="email" id="newsletter1" name="EMAIL"
                                    placeholder="Your email address" required>
                                <button type="submit"
                                    class="button subscribe"><span>Subscribe</span></button>
                                </div>
                            </div></div>
                        </form>
                        </div>
        
                    </div>
        
                    </div>
                </div>

                    </div>
                    <!-- /.row -->
                    </div>
                    <!-- /.category-product -->

                    <!-- /.tab-pane -->

                    <!-- /.tab-pane #list-container -->

                    <!-- /.tab-content -->
                    <div class="clearfix filters-container bottom-row">
                    <div class="text-right">
                        <div class="pagination-container">
                        <ul class="list-inline list-unstyled">
                            <li class="prev"><a href="#"><i
                                class="fa fa-angle-left"></i></a></li>
                            <li><a href="#">1</a></li>
                            <li class="active"><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li class="next"><a href="#"><i
                                class="fa fa-angle-right"></i></a></li>
                        </ul>
                        <!-- /.list-inline -->
                        </div>
                        <!-- /.pagination-container --> </div>
                    <!-- /.text-right -->

                    </div>
                    <!-- /.filters-container -->

                </div>
        <!-- /.col -->
        <!-- ============================================== SIDEBAR ============================================== -->
        <div class="col-md-3 sidebar">
            <!-- ================================== TOP NAVIGATION ================================== -->
            <div
            class="side-menu side-menu-inner animate-dropdown outer-bottom-xs">
            <div class="head">Categories</div>
            <nav class="yamm megamenu-horizontal">
                <ul class="nav">
                <li class="dropdown menu-item"> <a href="#"
                    class="dropdown-toggle"
                    data-toggle="dropdown">Clothing</a>
                    <ul class="dropdown-menu mega-menu">
                    <li class="yamm-content">
                        <div class="row">
                        <div class="col-sm-12 col-md-3">
                            <ul class="links list-unstyled">
                            <li><a href="#">Dresses</a></li>
                            <li><a href="#">Shoes </a></li>
                            <li><a href="#">Jackets</a></li>
                            <li><a href="#">Sunglasses</a></li>
                            <li><a href="#">Sport Wear</a></li>
                            <li><a href="#">Blazers</a></li>
                            <li><a href="#">Shirts</a></li>
                            <li><a href="#">Shorts</a></li>
                            </ul>
                        </div>
                        <!-- /.col -->
                        <div class="col-sm-12 col-md-3">
                            <ul class="links list-unstyled">
                            <li><a href="#">Handbags</a></li>
                            <li><a href="#">Jwellery</a></li>
                            <li><a href="#">Swimwear </a></li>
                            <li><a href="#">Tops</a></li>
                            <li><a href="#">Flats</a></li>
                            <li><a href="#">Shoes</a></li>
                            <li><a href="#">Winter Wear</a></li>
                            <li><a href="#">Night Suits</a></li>
                            </ul>
                        </div>
                        <!-- /.col -->
                        <div class="col-sm-12 col-md-3">
                            <ul class="links list-unstyled">
                            <li><a href="#">Toys &amp; Games</a></li>
                            <li><a href="#">Jeans</a></li>
                            <li><a href="#">Shirts</a></li>
                            <li><a href="#">Shoes</a></li>
                            <li><a href="#">School Bags</a></li>
                            <li><a href="#">Lunch Box</a></li>
                            <li><a href="#">Footwear</a></li>
                            <li><a href="#">Wipes</a></li>
                            </ul>
                        </div>
                        <!-- /.col -->
                        <div class="col-sm-12 col-md-3">
                            <ul class="links list-unstyled">
                            <li><a href="#">Sandals </a></li>
                            <li><a href="#">Shorts</a></li>
                            <li><a href="#">Dresses</a></li>
                            <li><a href="#">Jwellery</a></li>
                            <li><a href="#">Bags</a></li>
                            <li><a href="#">Night Dress</a></li>
                            <li><a href="#">Swim Wear</a></li>
                            <li><a href="#">Toys</a></li>
                            </ul>
                        </div>
                        <!-- /.col -->
                        </div>
                        <!-- /.row -->
                    </li>
                    <!-- /.yamm-content -->
                    </ul>
                    <!-- /.dropdown-menu --> </li>
                <!-- /.menu-item -->

                <li class="dropdown menu-item"> <a href="#"
                    class="dropdown-toggle"
                    data-toggle="dropdown">Electronics</a>
                    <!-- ================================== MEGAMENU VERTICAL ================================== -->
                    <ul class="dropdown-menu mega-menu">
                    <li class="yamm-content">
                        <div class="row">
                        <div class="col-xs-12 col-sm-12 col-lg-4">
                            <ul>
                            <li><a href="#">Gaming</a></li>
                            <li><a href="#">Laptop Skins</a></li>
                            <li><a href="#">Apple</a></li>
                            <li><a href="#">Dell</a></li>
                            <li><a href="#">Lenovo</a></li>
                            <li><a href="#">Microsoft</a></li>
                            <li><a href="#">Asus</a></li>
                            <li><a href="#">Adapters</a></li>
                            <li><a href="#">Batteries</a></li>
                            <li><a href="#">Cooling Pads</a></li>
                            </ul>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-lg-4">
                            <ul>
                            <li><a href="#">Routers &amp; Modems</a></li>
                            <li><a href="#">CPUs, Processors</a></li>
                            <li><a href="#">PC Gaming Store</a></li>
                            <li><a href="#">Graphics Cards</a></li>
                            <li><a href="#">Components</a></li>
                            <li><a href="#">Webcam</a></li>
                            <li><a href="#">Memory (RAM)</a></li>
                            <li><a href="#">Motherboards</a></li>
                            <li><a href="#">Keyboards</a></li>
                            <li><a href="#">Headphones</a></li>
                            </ul>
                        </div>
                        <div class="dropdown-banner-holder"> <a href="#"><img
                                alt
                                src="assets/images/banners/banner-side.png"></a>
                        </div>
                        </div>
                        <!-- /.row -->
                    </li>
                    <!-- /.yamm-content -->
                    </ul>
                    <!-- /.dropdown-menu -->
                    <!-- ================================== MEGAMENU VERTICAL ================================== -->
                </li>
                <!-- /.menu-item -->

                <li class="dropdown menu-item"> <a href="#"
                    class="dropdown-toggle" data-toggle="dropdown">Shoes</a>
                    <ul class="dropdown-menu mega-menu">
                    <li class="yamm-content">
                        <div class="row">
                        <div class="col-sm-12 col-md-3">
                            <ul class="links list-unstyled">
                            <li><a href="#">Dresses</a></li>
                            <li><a href="#">Shoes </a></li>
                            <li><a href="#">Jackets</a></li>
                            <li><a href="#">Sunglasses</a></li>
                            <li><a href="#">Sport Wear</a></li>
                            <li><a href="#">Blazers</a></li>
                            <li><a href="#">Shirts</a></li>
                            <li><a href="#">Shorts</a></li>
                            </ul>
                        </div>
                        <!-- /.col -->
                        <div class="col-sm-12 col-md-3">
                            <ul class="links list-unstyled">
                            <li><a href="#">Handbags</a></li>
                            <li><a href="#">Jwellery</a></li>
                            <li><a href="#">Swimwear </a></li>
                            <li><a href="#">Tops</a></li>
                            <li><a href="#">Flats</a></li>
                            <li><a href="#">Shoes</a></li>
                            <li><a href="#">Winter Wear</a></li>
                            <li><a href="#">Night Suits</a></li>
                            </ul>
                        </div>
                        <!-- /.col -->
                        <div class="col-sm-12 col-md-3">
                            <ul class="links list-unstyled">
                            <li><a href="#">Toys &amp; Games</a></li>
                            <li><a href="#">Jeans</a></li>
                            <li><a href="#">Shirts</a></li>
                            <li><a href="#">Shoes</a></li>
                            <li><a href="#">School Bags</a></li>
                            <li><a href="#">Lunch Box</a></li>
                            <li><a href="#">Footwear</a></li>
                            <li><a href="#">Wipes</a></li>
                            </ul>
                        </div>
                        <!-- /.col -->
                        <div class="col-sm-12 col-md-3">
                            <ul class="links list-unstyled">
                            <li><a href="#">Sandals </a></li>
                            <li><a href="#">Shorts</a></li>
                            <li><a href="#">Dresses</a></li>
                            <li><a href="#">Jwellery</a></li>
                            <li><a href="#">Bags</a></li>
                            <li><a href="#">Night Dress</a></li>
                            <li><a href="#">Swim Wear</a></li>
                            <li><a href="#">Toys</a></li>
                            </ul>
                        </div>
                        <!-- /.col -->
                        </div>
                        <!-- /.row -->
                    </li>
                    <!-- /.yamm-content -->
                    </ul>
                    <!-- /.dropdown-menu --> </li>
                <!-- /.menu-item -->

                <li class="dropdown menu-item"> <a href="#"
                    class="dropdown-toggle" data-toggle="dropdown">Watches</a>
                    <ul class="dropdown-menu mega-menu">
                    <li class="yamm-content">
                        <div class="row">
                        <div class="col-xs-12 col-sm-12 col-lg-4">
                            <ul>
                            <li><a href="#">Gaming</a></li>
                            <li><a href="#">Laptop Skins</a></li>
                            <li><a href="#">Apple</a></li>
                            <li><a href="#">Dell</a></li>
                            <li><a href="#">Lenovo</a></li>
                            <li><a href="#">Microsoft</a></li>
                            <li><a href="#">Asus</a></li>
                            <li><a href="#">Adapters</a></li>
                            <li><a href="#">Batteries</a></li>
                            <li><a href="#">Cooling Pads</a></li>
                            </ul>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-lg-4">
                            <ul>
                            <li><a href="#">Routers &amp; Modems</a></li>
                            <li><a href="#">CPUs, Processors</a></li>
                            <li><a href="#">PC Gaming Store</a></li>
                            <li><a href="#">Graphics Cards</a></li>
                            <li><a href="#">Components</a></li>
                            <li><a href="#">Webcam</a></li>
                            <li><a href="#">Memory (RAM)</a></li>
                            <li><a href="#">Motherboards</a></li>
                            <li><a href="#">Keyboards</a></li>
                            <li><a href="#">Headphones</a></li>
                            </ul>
                        </div>
                        <div class="dropdown-banner-holder"> <a href="#"><img
                                alt
                                src="assets/images/banners/banner-side.png"></a>
                        </div>
                        </div>
                        <!-- /.row -->
                    </li>
                    <!-- /.yamm-content -->
                    </ul>
                    <!-- /.dropdown-menu --> </li>
                <!-- /.menu-item -->

                <li class="dropdown menu-item"> <a href="#"
                    class="dropdown-toggle"
                    data-toggle="dropdown">Jewellery</a>
                    <ul class="dropdown-menu mega-menu">
                    <li class="yamm-content">
                        <div class="row">
                        <div class="col-sm-12 col-md-3">
                            <ul class="links list-unstyled">
                            <li><a href="#">Dresses</a></li>
                            <li><a href="#">Shoes </a></li>
                            <li><a href="#">Jackets</a></li>
                            <li><a href="#">Sunglasses</a></li>
                            <li><a href="#">Sport Wear</a></li>
                            <li><a href="#">Blazers</a></li>
                            <li><a href="#">Shirts</a></li>
                            <li><a href="#">Shorts</a></li>
                            </ul>
                        </div>
                        <!-- /.col -->
                        <div class="col-sm-12 col-md-3">
                            <ul class="links list-unstyled">
                            <li><a href="#">Handbags</a></li>
                            <li><a href="#">Jwellery</a></li>
                            <li><a href="#">Swimwear </a></li>
                            <li><a href="#">Tops</a></li>
                            <li><a href="#">Flats</a></li>
                            <li><a href="#">Shoes</a></li>
                            <li><a href="#">Winter Wear</a></li>
                            <li><a href="#">Night Suits</a></li>
                            </ul>
                        </div>
                        <!-- /.col -->
                        <div class="col-sm-12 col-md-3">
                            <ul class="links list-unstyled">
                            <li><a href="#">Toys &amp; Games</a></li>
                            <li><a href="#">Jeans</a></li>
                            <li><a href="#">Shirts</a></li>
                            <li><a href="#">Shoes</a></li>
                            <li><a href="#">School Bags</a></li>
                            <li><a href="#">Lunch Box</a></li>
                            <li><a href="#">Footwear</a></li>
                            <li><a href="#">Wipes</a></li>
                            </ul>
                        </div>
                        <!-- /.col -->
                        <div class="col-sm-12 col-md-3">
                            <ul class="links list-unstyled">
                            <li><a href="#">Sandals </a></li>
                            <li><a href="#">Shorts</a></li>
                            <li><a href="#">Dresses</a></li>
                            <li><a href="#">Jwellery</a></li>
                            <li><a href="#">Bags</a></li>
                            <li><a href="#">Night Dress</a></li>
                            <li><a href="#">Swim Wear</a></li>
                            <li><a href="#">Toys</a></li>
                            </ul>
                        </div>
                        <!-- /.col -->
                        </div>
                        <!-- /.row -->
                    </li>
                    <!-- /.yamm-content -->
                    </ul>
                    <!-- /.dropdown-menu --> </li>
                <!-- /.menu-item -->

                <li class="dropdown menu-item"> <a href="#"
                    class="dropdown-toggle" data-toggle="dropdown">Health and
                    Beauty</a>
                    <ul class="dropdown-menu mega-menu">
                    <li class="yamm-content">
                        <div class="row">
                        <div class="col-xs-12 col-sm-12 col-lg-4">
                            <ul>
                            <li><a href="#">Gaming</a></li>
                            <li><a href="#">Laptop Skins</a></li>
                            <li><a href="#">Apple</a></li>
                            <li><a href="#">Dell</a></li>
                            <li><a href="#">Lenovo</a></li>
                            <li><a href="#">Microsoft</a></li>
                            <li><a href="#">Asus</a></li>
                            <li><a href="#">Adapters</a></li>
                            <li><a href="#">Batteries</a></li>
                            <li><a href="#">Cooling Pads</a></li>
                            </ul>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-lg-4">
                            <ul>
                            <li><a href="#">Routers &amp; Modems</a></li>
                            <li><a href="#">CPUs, Processors</a></li>
                            <li><a href="#">PC Gaming Store</a></li>
                            <li><a href="#">Graphics Cards</a></li>
                            <li><a href="#">Components</a></li>
                            <li><a href="#">Webcam</a></li>
                            <li><a href="#">Memory (RAM)</a></li>
                            <li><a href="#">Motherboards</a></li>
                            <li><a href="#">Keyboards</a></li>
                            <li><a href="#">Headphones</a></li>
                            </ul>
                        </div>
                        <div class="dropdown-banner-holder"> <a href="#"><img
                                alt
                                src="assets/images/banners/banner-side.png"></a>
                        </div>
                        </div>
                        <!-- /.row -->
                    </li>
                    <!-- /.yamm-content -->
                    </ul>
                    <!-- /.dropdown-menu --> </li>
                <!-- /.menu-item -->

                <li class="dropdown menu-item"> <a href="#"
                    class="dropdown-toggle" data-toggle="dropdown">Kids and
                    Babies</a>
                    <!-- /.dropdown-menu --> </li>
                <!-- /.menu-item -->

                <li class="dropdown menu-item"> <a href="#"
                    class="dropdown-toggle" data-toggle="dropdown">Sports</a>
                    <!-- ================================== MEGAMENU VERTICAL ================================== -->
                    <!-- /.dropdown-menu -->
                    <!-- ================================== MEGAMENU VERTICAL ================================== -->
                </li>
                <!-- /.menu-item -->

                <li class="dropdown menu-item"> <a href="#"
                    class="dropdown-toggle" data-toggle="dropdown">Home and
                    Garden</a>
                    <!-- /.dropdown-menu --> </li>
                <!-- /.menu-item -->

                </ul>
                <!-- /.nav -->
            </nav>
            <!-- /.megamenu-horizontal -->
            </div>
            <!-- /.side-menu -->
            <!-- ================================== TOP NAVIGATION : END ================================== -->
            <div class="sidebar-module-container">
            <div class="sidebar-filter">
                <!-- ============================================== SIDEBAR CATEGORY ============================================== -->
                <div class="sidebar-widget wow fadeInUp animated"
                style="visibility: visible; animation-name: fadeInUp;">
                <h3 class="section-title">Shop by</h3>
                <div class="widget-header">
                    <h4 class="widget-title">Category</h4>
                </div>
                <div class="sidebar-widget-body">
                    <div class="accordion">
                    <div class="accordion-group">
                        <div class="accordion-heading"> <a href="#collapseOne"
                            data-toggle="collapse"
                            class="accordion-toggle collapsed"> Camera </a>
                        </div>
                        <!-- /.accordion-heading -->
                        <div class="accordion-body collapse" id="collapseOne"
                        style="height: 0px;">
                        <div class="accordion-inner">
                            <ul>
                            <li><a href="#">gaming</a></li>
                            <li><a href="#">office</a></li>
                            <li><a href="#">kids</a></li>
                            <li><a href="#">for women</a></li>
                            </ul>
                        </div>
                        <!-- /.accordion-inner -->
                        </div>
                        <!-- /.accordion-body -->
                    </div>
                    <!-- /.accordion-group -->

                    <div class="accordion-group">
                        <div class="accordion-heading"> <a href="#collapseTwo"
                            data-toggle="collapse"
                            class="accordion-toggle collapsed"> Desktops </a>
                        </div>
                        <!-- /.accordion-heading -->
                        <div class="accordion-body collapse" id="collapseTwo"
                        style="height: 0px;">
                        <div class="accordion-inner">
                            <ul>
                            <li><a href="#">gaming</a></li>
                            <li><a href="#">office</a></li>
                            <li><a href="#">kids</a></li>
                            <li><a href="#">for women</a></li>
                            </ul>
                        </div>
                        <!-- /.accordion-inner -->
                        </div>
                        <!-- /.accordion-body -->
                    </div>
                    <!-- /.accordion-group -->

                    <div class="accordion-group">
                        <div class="accordion-heading"> <a href="#collapseThree"
                            data-toggle="collapse"
                            class="accordion-toggle collapsed"> Pants </a>
                        </div>
                        <!-- /.accordion-heading -->
                        <div class="accordion-body collapse" id="collapseThree"
                        style="height: 0px;">
                        <div class="accordion-inner">
                            <ul>
                            <li><a href="#">gaming</a></li>
                            <li><a href="#">office</a></li>
                            <li><a href="#">kids</a></li>
                            <li><a href="#">for women</a></li>
                            </ul>
                        </div>
                        <!-- /.accordion-inner -->
                        </div>
                        <!-- /.accordion-body -->
                    </div>
                    <!-- /.accordion-group -->

                    <div class="accordion-group">
                        <div class="accordion-heading"> <a href="#collapseFour"
                            data-toggle="collapse"
                            class="accordion-toggle collapsed"> Bags </a> </div>
                        <!-- /.accordion-heading -->
                        <div class="accordion-body collapse" id="collapseFour"
                        style="height: 0px;">
                        <div class="accordion-inner">
                            <ul>
                            <li><a href="#">gaming</a></li>
                            <li><a href="#">office</a></li>
                            <li><a href="#">kids</a></li>
                            <li><a href="#">for women</a></li>
                            </ul>
                        </div>
                        <!-- /.accordion-inner -->
                        </div>
                        <!-- /.accordion-body -->
                    </div>
                    <!-- /.accordion-group -->

                    <div class="accordion-group">
                        <div class="accordion-heading"> <a href="#collapseFive"
                            data-toggle="collapse"
                            class="accordion-toggle collapsed"> Hats </a> </div>
                        <!-- /.accordion-heading -->
                        <div class="accordion-body collapse" id="collapseFive"
                        style="height: 0px;">
                        <div class="accordion-inner">
                            <ul>
                            <li><a href="#">gaming</a></li>
                            <li><a href="#">office</a></li>
                            <li><a href="#">kids</a></li>
                            <li><a href="#">for women</a></li>
                            </ul>
                        </div>
                        <!-- /.accordion-inner -->
                        </div>
                        <!-- /.accordion-body -->
                    </div>
                    <!-- /.accordion-group -->

                    <div class="accordion-group">
                        <div class="accordion-heading"> <a href="#collapseSix"
                            data-toggle="collapse"
                            class="accordion-toggle collapsed"> Accessories </a>
                        </div>
                        <!-- /.accordion-heading -->
                        <div class="accordion-body collapse" id="collapseSix"
                        style="height: 0px;">
                        <div class="accordion-inner">
                            <ul>
                            <li><a href="#">gaming</a></li>
                            <li><a href="#">office</a></li>
                            <li><a href="#">kids</a></li>
                            <li><a href="#">for women</a></li>
                            </ul>
                        </div>
                        <!-- /.accordion-inner -->
                        </div>
                        <!-- /.accordion-body -->
                    </div>
                    <!-- /.accordion-group -->

                    </div>
                    <!-- /.accordion -->
                </div>
                <!-- /.sidebar-widget-body -->
                </div>
                <!-- /.sidebar-widget -->
                <!-- ============================================== SIDEBAR CATEGORY : END ============================================== -->

                <!-- ============================================== PRICE SILDER============================================== -->
                <div class="sidebar-widget wow fadeInUp animated"
                style="visibility: visible; animation-name: fadeInUp;">
                <div class="widget-header">
                    <h4 class="widget-title">Price Slider</h4>
                </div>
                <div class="sidebar-widget-body m-t-10">
                    <div class="price-range-holder"> <span class="min-max">
                        <span class="pull-left">$200.00</span> <span
                        class="pull-right">$800.00</span> </span>
                    <input type="text" id="amount"
                        style="border:0; color:#666666; font-weight:bold;text-align:center;">
                    <input type="text" class="price-slider" value="200,410"
                        data="value: '200,410'" style="display: none;">
                    </div>
                    <!-- /.price-range-holder -->
                    <a href="#" class="lnk btn btn-primary">Show Now</a> </div>
                <!-- /.sidebar-widget-body -->
                </div>
                <!-- /.sidebar-widget -->
                <!-- ============================================== PRICE SILDER : END ============================================== -->
                <!-- ============================================== MANUFACTURES============================================== -->
                <div class="sidebar-widget wow fadeInUp animated"
                style="visibility: visible; animation-name: fadeInUp;">
                <div class="widget-header">
                    <h4 class="widget-title">Manufactures</h4>
                </div>
                <div class="sidebar-widget-body">
                    <ul class="list">
                    <li><a href="#">Forever 18</a></li>
                    <li><a href="#">Nike</a></li>
                    <li><a href="#">Dolce &amp; Gabbana</a></li>
                    <li><a href="#">Alluare</a></li>
                    <li><a href="#">Chanel</a></li>
                    <li><a href="#">Other Brand</a></li>
                    </ul>
                    <!--<a href="#" class="lnk btn btn-primary">Show Now</a>-->
                </div>
                <!-- /.sidebar-widget-body -->
                </div>
                <!-- /.sidebar-widget -->
                <!-- ============================================== MANUFACTURES: END ============================================== -->
                <!-- ============================================== COLOR============================================== -->
                <div class="sidebar-widget wow fadeInUp animated"
                style="visibility: visible; animation-name: fadeInUp;">
                <div class="widget-header">
                    <h4 class="widget-title">Colors</h4>
                </div>
                <div class="sidebar-widget-body">
                    <ul class="list">
                    <li><a href="#">Red</a></li>
                    <li><a href="#">Blue</a></li>
                    <li><a href="#">Yellow</a></li>
                    <li><a href="#">Pink</a></li>
                    <li><a href="#">Brown</a></li>
                    <li><a href="#">Teal</a></li>
                    </ul>
                </div>
                <!-- /.sidebar-widget-body -->
                </div>
                <!-- /.sidebar-widget -->
                <!-- ============================================== COLOR: END ============================================== -->
                <!-- ============================================== COMPARE============================================== -->
                <div class="sidebar-widget wow fadeInUp outer-top-vs animated"
                style="visibility: visible; animation-name: fadeInUp;">
                <h3 class="section-title">Compare products</h3>
                <div class="sidebar-widget-body">
                    <div class="compare-report">
                    <p>You have no <span>item(s)</span> to compare</p>
                    </div>
                    <!-- /.compare-report -->
                </div>
                <!-- /.sidebar-widget-body -->
                </div>
                <!-- /.sidebar-widget -->
                <!-- ============================================== COMPARE: END ============================================== -->
                <!-- ============================================== PRODUCT TAGS ============================================== -->
                <div
                class="sidebar-widget product-tag wow fadeInUp outer-top-vs animated"
                style="visibility: visible; animation-name: fadeInUp;">
                <h3 class="section-title">Product tags</h3>
                <div class="sidebar-widget-body outer-top-xs">
                    <div class="tag-list"> <a class="item" title="Phone"
                        href="category.html">phone</a> <a class="item active"
                        title="Vest" href="category.html">vest</a> <a
                        class="item" title="Smartphone"
                        href="category.html">smartphone</a> <a class="item"
                        title="Furniture" href="category.html">furniture</a> <a
                        class="item" title="T-shirt"
                        href="category.html">shirt</a> <a class="item"
                        title="Sweatpants" href="category.html">sweater</a> <a
                        class="item" title="Sneaker"
                        href="category.html">sneaker</a> <a class="item"
                        title="Toys" href="category.html">toys</a> <a
                        class="item" title="Rose" href="category.html">rose</a>
                    </div>
                    <!-- /.tag-list -->
                </div>
                <!-- /.sidebar-widget-body -->
                </div>
                <!-- /.sidebar-widget -->
                <!----------- Testimonials------------->
                <div class="sidebar-widget  wow fadeInUp outer-top-vs  animated"
                style="visibility: visible; animation-name: fadeInUp;">
                <div id="advertisement"
                    class="advertisement owl-carousel owl-theme"
                    style="opacity: 1; display: block;">
                    <div class="owl-wrapper-outer"><div class="owl-wrapper"
                        style="width: 1338px; left: 0px; display: block;"><div
                        class="owl-item" style="width: 223px;"><div
                            class="item">
                            <div class="avatar"><img
                                src="assets/images/testimonials/member1.png"
                                alt="Image"></div>
                            <div class="testimonials"><em>"</em> Vtae sodales
                            aliq uam morbi non sem lacus port mollis. Nunc
                            condime tum metus eud molest sed
                            consectetuer.<em>"</em></div>
                            <div class="clients_author">John Doe <span>Abc
                                Company</span> </div>
                            <!-- /.container-fluid -->
                        </div></div><div class="owl-item"
                        style="width: 223px;"><div class="item">
                            <div class="avatar"><img
                                src="assets/images/testimonials/member3.png"
                                alt="Image"></div>
                            <div class="testimonials"><em>"</em>Vtae sodales
                            aliq uam morbi non sem lacus port mollis. Nunc
                            condime tum metus eud molest sed
                            consectetuer.<em>"</em></div>
                            <div class="clients_author">Stephen Doe <span>Xperia
                                Designs</span> </div>
                        </div></div><div class="owl-item"
                        style="width: 223px;"><div class="item">
                            <div class="avatar"><img
                                src="assets/images/testimonials/member2.png"
                                alt="Image"></div>
                            <div class="testimonials"><em>"</em> Vtae sodales
                            aliq uam morbi non sem lacus port mollis. Nunc
                            condime tum metus eud molest sed
                            consectetuer.<em>"</em></div>
                            <div class="clients_author">Saraha Smith
                            <span>Datsun &amp; Co</span> </div>
                            <!-- /.container-fluid -->
                        </div></div></div></div>
                    <!-- /.item -->

                    <!-- /.item -->

                    <!-- /.item -->

                    <div class="owl-controls clickable"><div
                        class="owl-pagination"><div
                        class="owl-page active"><span class></span></div><div
                        class="owl-page"><span class></span></div><div
                        class="owl-page"><span class></span></div></div><div
                        class="owl-buttons"><div class="owl-prev"></div><div
                        class="owl-next"></div></div></div></div>
                <!-- /.owl-carousel -->
                </div>

                <!-- ============================================== Testimonials: END ============================================== -->

            </div>
            <!-- /.sidebar-filter -->
            </div>
            <!-- /.sidebar-module-container -->
        </div>
        <!-- /.sidemenu-holder -->
        <!-- ============================================== SIDEBAR : END ============================================== -->
        </div>
    </div>  
</div>


{% endblock %}