{% extends 'management/base.html' %}

{% block content %}

<div class="main-content">

    <div class="page-content">
        <div class="container-fluid">

            <!-- start page title -->
            <div class="row">
                <div class="col-sm-6">
                    <div class="page-title-box">
                        <h4>Brand List</h4>
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item"><a href="#">Brand</a></li>
                        </ol>
                    </div>
                </div>

            </div>
            <!-- end page title -->

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">

                            <h4 class="card-title">Brand</h4>
                            <p class="card-title-desc">All Brand Table List.</p>
                            {% if user.is_superuser  %}
                            <div style="text-align: end;">
                                <a href="{% url 'add_brand' %}" class="btn btn-primary">Add Brand</a>
                            </div>
                            {% endif %}
                            
                            <div class="mb-3 col-xl-6">
                                <form action="">
                                    <label class="form-label">Select Sub Category</label>
                                    <select name="name" class="form-control select2">
                                        <option value="">Select</option>
                                        
                                        {% for sub in sub_categorys %}
                                        <option value="{{sub.id}}">{{sub.name}}</option>
                                        {% endfor %}
                                    </select>
                                    <button type="submit" class="btn btn-outline-secondary search-button">
                                        <i class="ti-search"></i>
                                    </button>
                                </form>
                            </div>
                            

                            <div class="table-responsive">
                                <table class="table table-editable table-nowrap align-middle table-edits">
                                    <thead>
                                        
                                        {% if brands %}
        
                                        <tr>
                                            <th>ID</th>
                                            <th>Brand</th>
                                            <th>Sub categors</th>
                                            <th>Category</th>
                                            <th>Created on</th>
                                            <th>Created by</th>
                                            <th>Edit</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        {% for brand in brands %}

                                        <tr data-id="1">
                                            <td data-field="id" style="width: 80px">{{forloop.counter}}</td>
                                            <td data-field="name"><b><a href="#">{{brand.name}}</td></a></b>
                                            <td data-field="name"><b><a href="#">{{brand.sub_category.name}}</td></a></b>
                                            <td data-field="name"><b><a href="#">
                                                {% if brand.sub_category.category %}
                                                {{brand.sub_category.category.name}}
                                                {% else %}
                                                </a><span class="badge bg-danger">No Category</span>
                                                {% endif %}
                                            </td></b>
                                            <td data-field="age">{{brand.created_on}}</td>
                                            <td data-field="gender">{{brand.created_by}}</td>
                                            <td style="width: 100px">
                                                <button class="btn btn-outline-secondary btn-sm edit" title="Edit"
                                                data-bs-toggle="modal" 
                                                data-id="{{brand.id}}"
                                                data-sub_category="{{brand.sub_category.id}}"
                                                data-name="{{brand.name}}"
                                                data-description="{{brand.description}}"
                                                data-bs-target="#staticBackdrop" 
                                                onclick="setTemplateValues(this)">
                                                    <i class="fas fa-pencil-alt"></i>
                                                </button>
                                            </td>
                                            
                                        </tr>
                                        {% endfor %}
                                        {% else %}
                                        <td data-field="name" ><b>No Barnd Found!</td></b>
                                        
                                        {% endif %}
                                    </tbody>
                                </table>
                            </div>
                            {% if brands.has_other_pages %}
                            <nav aria-label="...">
                                <ul class="pagination">
                                    {% if brands.has_previous %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ brands.previous_page_number }}" tabindex="-1">Previous</a>
                                    </li>
                                    {% else %}
                                    <li class="page-item disabled">
                                        <a class="page-link" href="#" tabindex="-1">Previous</a>
                                    </li>
                                    {% endif %}

                                    {% for i in brands.paginator.page_range %}
                                    
                                        {% if brands.number == i %}
                                        <li class="page-item active">
                                            <a class="page-link" >{{ i }} <span class="sr-only">(current)</span></a>
                                        </li>
                                        {% else %}
                                        <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                                        {% endif %}
                                    {% endfor %}
                            
                                    {% if brands.has_next %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ brands.next_page_number }}">Next</a>
                                    </li>
                                    {% else %}
                                    <li class="page-item disabled">
                                        <a class="page-link" href="#">Next</a>
                                    </li>
                                    {% endif %}
                                </ul>
                            </nav>
                            {% endif %}
                        </div>
                    </div>
                </div> <!-- end col -->
            </div> <!-- end row -->

        </div> <!-- container-fluid -->
    </div>
</div>

{% comment %} modals {% endcomment %}
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static"
    data-bs-keyboard="false" tabindex="-1" role="dialog"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg"> 
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Edit Brand
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>

            <form method='post' class="container" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="hidden" name="brand_id" id="brandId" >

                <div class="mb-3 mt-3 row">
                    <label for="category" class="col-md-2 col-form-label"> Sub Category</label>
                    <div class="col-md-10">
                        <select name="subcategory_id" class="form-control" id="subcategoryId">
                            <option value="">Select Sub Category</option>
                            {% for c in sub_categorys %}
                                {% if c.id == subcategoryId %}
                                    <option value="{{c.id}}" selected>{{c.name}}</option>
                                {% else %}
                                    <option value="{{c.id}}">{{c.name}}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="mb-3 mt-3 row">
                    <label for="name" class="col-md-2 col-form-label">Name</label>
                    <div class="col-md-10">
                        <input class="form-control" type="text"  name="name" id="brandName">
                    </div>
                </div>
                <div class="mb-3 mt-3 row">
                    <label for="template_id" class="col-md-2 col-form-label">Image</label>
                    <div class="col-md-10">
                        <input type="file" name="image" id="image" class="form-control" >
                    </div>
                </div>
                <div class="mb-3 mt-3 row">
                    <label for="name" class="col-md-2 col-form-label">Description</label>
                    <div class="col-md-10">
                        <textarea id="branddescription" name="description" class="form-control" rows="10" required></textarea>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-light waves-effect"
                        data-bs-dismiss="modal">Close</button>
                    <button type="submit"
                        class="btn btn-primary waves-effect waves-light">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    function setTemplateValues(button) {
        var brandId = button.dataset.id;
        var brandName = button.dataset.name;
        var bdescription = button.dataset.description;
        var subcategoryId = button.dataset.sub_category; // Corrected variable name
    
        document.getElementById("brandId").value = brandId;
        document.getElementById("brandName").value = brandName;
        document.getElementById("branddescription").value = bdescription;
        document.getElementById("subcategoryId").value = subcategoryId; // Corrected element ID
        

    }
    $(document).ready(function() {
        $('.select2').select2();
    });
    // Select Box
</script>
{% endblock %}