{% extends 'management/base.html' %}

{% block content %}

    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="main-content">

        <div class="page-content">
            <div class="container-fluid">

                <!-- start page title -->
                <div class="row">
                    <div class="col-sm-6">
                        <div class="page-title-box">
                            <h4>Create Staff Account</h4>
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item"><a href="{% url 'staffs_list' %}">Staff-list</a></li>
                                    <li class="breadcrumb-item"><a href="{% url 'create_staff' %}">create-staff</a></li>
                                </ol>
                        </div>
                    </div>

                </div>
                <!-- end page title -->

                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">

                            <form method="post">
                                {% csrf_token %}

                                <div class="mb-3 row">
                                    <label for="example-text-input" class="col-md-2 col-form-label">First Name</label>
                                    <div class="col-md-10">
                                        <input class="form-control" type="text" name="first_name" id="name">
                                    </div>
                                </div><!-- end row -->
                                <div class="mb-3 row">
                                    <label for="example-text-input" class="col-md-2 col-form-label">Last Name</label>
                                    <div class="col-md-10">
                                        <input class="form-control" type="text" name="last_name" id="name">
                                    </div>
                                </div><!-- end row -->
                                <div class="mb-3 row">
                                    <label for="example-search-input" class="col-md-2 col-form-label">Username</label>
                                    <div class="col-md-10">
                                        <input class="form-control" type="text" name="username" id="username">
                                    </div>
                                </div><!-- end row -->
                                <div class="mb-3 row">
                                    <label for="example-email-input" class="col-md-2 col-form-label">Email</label>
                                    <div class="col-md-10">
                                        <input class="form-control" type="email" name="email" id="email">
                                    </div>
                                </div><!-- end row -->
                                <div class="mb-3 row">
                                    <label for="example-url-input" class="col-md-2 col-form-label">Father Name</label>
                                    <div class="col-md-10">
                                        <input class="form-control" type="text" name="father_name" id="father_name">
                                    </div>
                                </div><!-- end row -->
                                <div class="mb-3 row">
                                    <label for="example-url-input" class="col-md-2 col-form-label">Mother Name</label>
                                    <div class="col-md-10">
                                        <input class="form-control" type="text" name="mother_name" id="mother_name">
                                    </div>
                                </div><!-- end row -->
                                <div class="mb-3 row">
                                    <label for="example-url-input" class="col-md-2 col-form-label">Birth Date</label>
                                    <div class="col-md-10">
                                        <input class="form-control" type="date" name="birth_date" id="mother_name">
                                    </div>
                                </div><!-- end row -->
                                <div class="mb-3 row">
                                    <label for="example-tel-input" class="col-md-2 col-form-label">Phone</label>
                                    <div class="col-md-10">
                                        <input class="form-control" type="text" name="phone" id="example-tel-input">
                                    </div>
                                </div><!-- end row -->
                                <div class="mb-3 row">
                                    <label for="example-tel-input" class="col-md-2 col-form-label">Nid no</label>
                                    <div class="col-md-10">
                                        <input class="form-control" type="text" name="nid" id="example-tel-input">
                                    </div>
                                </div><!-- end row -->
                                <div class="mb-3 row">
                                    <label for="example-tel-input" class="col-md-2 col-form-label">Address</label>
                                    <div class="col-md-10">
                                        <input class="form-control" type="text" name="address" id="example-tel-input">
                                    </div>
                                </div><!-- end row -->


                                <div class="mb-3 row">
                                    <label class="col-md-2 col-form-label">Gender</label>
                                    <div class="col-md-10">
                                        <select class="form-control" name="gender">
                                            <option>Select</option>
                                            <option>Male</option>
                                            <option>Female</option>
                                        </select>
                                    </div>
                                </div><!-- end row -->
                            
                                <br>
                                <div class="mt-4">
                                    <button type="submit" class="btn btn-primary w-md">Submit</button>
                                </div>
                            </form>
                            </div>
                        </div>
                    </div>
                    <!-- end col -->
                </div>
                <!-- end row -->
{% endblock %}