{% extends 'management/base.html' %}

{% block content %}
<div class="main-content">

    <div class="page-content">
        <div class="container-fluid">

            <!-- start page title -->
            <div class="row">
                <div class="col-sm-6">
                    <div class="page-title-box">
                        <h4>Email Campaign</h4>
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="/">Home</a></li>
                            <li class="breadcrumb-item"><a href="#">Email Campaign list</a></li>
                        </ol>
                    </div>
                </div>
            </div>
            <!-- end page title -->
            <div class="container mt-5">
                <div class="card">
                    <div class="card-body">
                        <h3>Filter Campaigns</h3>
                        <form method="GET">
                            <div class="row">
                                <!-- Name Filter -->
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="filter_name">Name</label>
                                        <input id="filter_name" type="text" name="name" class="form-control" placeholder="Search by Name" value="{{ request.GET.name }}">
                                    </div>
                                </div>
                                <!-- Source Filter -->
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="filter_source">Source</label>
                                        <input id="filter_source" type="text" name="source" class="form-control" placeholder="Search by Source" value="{{ request.GET.source }}">
                                    </div>
                                </div>
                                <!-- Total Participants Filter -->
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="filter_total_participants">Total Participants</label>
                                        <input id="filter_total_participants" type="number" name="total_participants" class="form-control" placeholder="Search by Total Participants" value="{{ request.GET.total_participants }}">
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-success mt-2">Filter</button>
                            <a href="" class="btn btn-secondary ml-2">Reset</a>
                        </form>
                        
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">

                            <h4 class="card-title">Email campaign</h4>
                            <p class="card-title-desc">All email campaign list</p>
                            {% if messages %}
                            {% include 'management/message.html' %}
                            {% endif %}

                            <div class="table-responsive">
                                <table class="table table-editable table-nowrap align-middle table-edits">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Name</th>
                                            <th>Source</th>
                                            <th>Totat Participant</th>
                                            <th>Template Subject</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        {% for campaigns in email_campaigns %}

                                        <tr data-id="1">
                                            <td data-field="id" style="width: 80px">{{forloop.counter}}</td>
                                            <td data-field="name"><b><a href="{% url 'campaign_details' campaigns.id %}">{{campaigns.name}}</td></a></b>
                                            <td> {{campaigns.source}} </td>
                                            <td data-field="blacklist_reason">
                                                {{campaigns.total_participant}}
                                            </td>
                                            <td data-field="campaign_sent">{{campaigns.subject}}</td>
                                           
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            {% if email_campaigns.has_other_pages %}
                            <nav aria-label="...">
                                <ul class="pagination">
                                    {% if email_campaigns.has_previous %}
                                        <li class="page-item ">
                                            <a class="page-link" href="?page={{ email_campaigns.previous_page_number }}" tabindex="-1">Previous</a>
                                        </li>
                                    {% else %}
                                        <li class="page-item disabled">
                                            <a class="page-link" tabindex="-1">Previous</a>
                                        </li>
                                    {% endif %}
                                    {% for i in email_campaigns.paginator.page_range %}
                                        {% if email_campaigns.number == i %}
                                            <li class="page-item active">
                                                <a class="page-link" > {{ i }} <span class="sr-only">(current)</span></a>
                                            </li>
                                        {% else %}
                                        <li class="page-item"><a class="page-link" href="?page={{ i }}">{{i}}</a></li>
                                        {% endif %}

                                    {% endfor %}

                                    {% if email_campaigns.has_next %}
                                        <li class="page-item">
                                            <a class="page-link" href="?page={{ email_campaigns.next_page_number }}">Next</a>
                                        </li>
                                    {% else %}
                                        <li class="page-item disabled">
                                            <a class="page-link" href="#">Next</a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </nav>
                            {% endif %}
                        </div>
                    </div>
                </div> <!-- end col -->
            </div> <!-- end row -->

        </div> <!-- container-fluid -->
    </div>
    <!-- End Page-content -->
</div>
{% endblock %}