{% extends 'management/base.html' %}


{% block content %}
            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <div class="main-content">

                <div class="page-content">
                    <div class="container-fluid">

                        <!-- start page title -->
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="page-title-box">
                                    <h4>Staff List Table</h4>
                                        <ol class="breadcrumb m-0">
                                            <li class="breadcrumb-item"><a href="{% url 'staffs_list' %}">staff-list</a></li>
                                            <li class="breadcrumb-item"><a href="{% url 'create_staff' %}">create_staff</a></li>
                                        </ol>
                                </div>
                            </div>
                        </div>
                        <!-- end page title -->

                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">
        
                                        <h4 class="card-title">Table Edits</h4>
                                        <p class="card-title-desc">Table Edits is a lightweight jQuery plugin for making table rows editable.</p>
                                        {% if user.is_superuser  %}
                                        <div style="text-align: end;">
                                            <a href="{% url 'create_staff' %}" class="btn btn-primary">Add Staff</a>
                                        </div>
                                        {% endif %}
                                        <div class="table-responsive">
                                            <table class="table table-editable table-nowrap align-middle table-edits">
                                                <thead>
                                                    <tr>
                                                        <th>ID</th>
                                                        <th>Username</th>
                                                        <th>Email</th>
                                                        <th>Age</th>
                                                        <th>Gender</th>
                                                        <th>Action</th>
                                                        <th>Active</th>
                                                        
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                
                                                    
                                                    {% for staff in staff_users %}
                                                    <tr data-id="1">

                                                        <td data-field="id" style="width: 80px">{{forloop.counter}}</td>
                                                        
                                                        <td data-field="name"><b><a href="profile/{{staff.id}}">{{staff.username}}</td></a></b>
                                                        <td>{{staff.email}}</td>
                                                       
                                                        <td data-field="age">{{staff.profile.age}}</td>
                                                        <td data-field="gender">{{staff.profile.gender}}</td>
                                                        <td style="width: 100px">
                                                            <form action="" method="post" action="{% url 'staffs_list' %}">
                                                            <a class="btn btn-outline-secondary btn-sm edit" title="Edit">
                                                                <i class="fas fa-pencil-alt"></i>
                                                            </a>
                                                            <a class="btn btn-outline-secondary btn-sm" value="{{staff.id}}" name="reset_pass" title="reset" onclick="confirmReset()">
                                                                <i class="ion ion-md-key"></i>
                                                            </a>
                                                            </form>
                                                        </td>
                                                        
                                                        <td>
                                                            <form id="toggleStaffForm" method="post" action="{% url 'staffs_list' %}">
                                                                {% csrf_token %}
                                                                <div class="form-check form-switch form-switch-md mb-3" dir="ltr">
                                                                    <input type="checkbox" name="staff_id" value="{{ staff.id }}" class="form-check-input"
                                                                        id="customSwitchsizemd_{{ staff.id }}" {% if staff.is_active %} checked {% endif %}
                                                                        onclick="toggleStaffStatus({{ staff.id }})">
                                                                    <label for="customSwitchsizemd_{{ staff.id }}" data-on-label="On" data-off-label="Off">
                                                                        {% if staff.is_active %}
                                                                            On
                                                                        {% else %}
                                                                            Off
                                                                        {% endif %}
                                                                    </label>
                                                                </div>
                                                            </form>
                                                        </td>
                                                        
                                                        
                                                        
                                                    </tr>
                                                    {% endfor %}
                                                </tbody>
                                                </table>
                                                

                                        </div>
                                        
                                        {% if staff_users.has_other_pages %}
                                        <nav aria-label="...">
                                            <ul class="pagination">
                                                {% if staff_users.has_previous %}
                                                <li class="page-item">
                                                    <a class="page-link" href="?page={{ staff_users.previous_page_number }}" tabindex="-1">Previous</a>
                                                </li>
                                                {% else %}
                                                <li class="page-item disabled">
                                                    <a class="page-link" href="#" tabindex="-1">Previous</a>
                                                </li>
                                                {% endif %}

                                                {% for i in staff_users.paginator.page_range %}
                                                
                                                    {% if staff_users.number == i %}
                                                    <li class="page-item active">
                                                        <a class="page-link" >{{ i }} <span class="sr-only">(current)</span></a>
                                                    </li>
                                                    {% else %}
                                                    <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                                                    {% endif %}
                                                {% endfor %}
                                        

                                                {% if staff_users.has_next %}
                                                <li class="page-item">
                                                    <a class="page-link" href="?page={{ staff_users.next_page_number }}">Next</a>
                                                </li>
                                                {% else %}
                                                <li class="page-item disabled">
                                                    <a class="page-link" href="#">Next</a>
                                                </li>
                                                {% endif %}
                                            </ul>
                                        </nav>
                                        {% endif %}
                                    </div>
                                </div>
                            </div> <!-- end col -->
                        </div> <!-- end row -->

                    </div> <!-- container-fluid -->
                </div>
                <!-- End Page-content -->

    <script>
        function toggleStaffStatus(staff_id) {
            document.getElementById('toggleStaffForm').submit();
        }


        function confirmReset() {
            // Show a confirmation message using alert
            if (confirm("Are you sure you want to reset your password?")) {
                // If user clicks OK on the confirmation dialog, submit the form
            document.getElementById('resetForm').submit();
            }
        }
    </script>
   
{% endblock %}
    