{% extends 'management/base.html' %}
{% block content %}
    <div class="main-content">
        <div class="page-content">
            <div class="container-fluid">
                <!-- start page title -->
                <div class="row">
                    <div class="col-sm-6">
                        <div class="page-title-box">
                            <h4>Subscribers</h4>
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="/">Home</a></li>
                                <li class="breadcrumb-item"><a href="#">Subscriber list</a></li>
                            </ol>
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">      
                                <div class="container">
                                    <p><strong>Create Campaign</strong></p>
                                    <form>
                                        <div class="filter-form">
                                            <div class="row mb-3">
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label for="filter_email">Email</label>
                                                        <input id="filter_email" type="text" value="{{request.GET.email}}" name="email" class="form-control" placeholder="Search by Email">
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label for="filter_campaign">Campaign Sent</label>
                                                        <input id="filter_campaign" type="number" name="campaign_sent" class="form-control" placeholder="Search by campaign_sent" value="{{ request.GET.campaign_sent }}">
                                                       
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label for="filter_last_sent">Last Sent</label>
                                                        <input id="filter_last_sent" type="date" name="last_sent" class="form-control">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row mb-3">
                                                
                                                <div class="col-md-6 d-flex align-items-end">
                                                    <button class="btn btn-success m-1" type="submit">Filter</button>
                                                    <button class="btn btn-secondary" a href="" type="submit">Reset</button>
                                                </div>
                                            </div>
                                        </div>
                                            <div class="input-group mb-3">
                                                <span class="input-group-text">{{subscribers.paginator.count}} results</span>
                                            </div>
                                            <div style="text-align: end;">
                                                <button type="button" class="btn btn-primary waves-effect waves-light"
                                                data-bs-toggle="modal" data-bs-target="#staticBackdrop">Start Campaign</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div> <!-- end col -->
                </div> <!-- end row -->
                <!-- end page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Email Subscriber</h4>
                                <p class="card-title-desc">All email subscriber list</p>
                                

                                <div class="table-responsive">
                                    <table class="table table-editable table-nowrap align-middle table-edits">
                                        <thead>
                                            <tr>
                                                <th><input type="checkbox" id="select_all"></th>
                                                <th>ID</th>
                                                <th>Name</th>
                                                <th>Email</th>
                                                <th>Is Blacklist</th>
                                                <th>Campaign Sent</th>
                                                <th>Last Sent</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            {% for subscriber in subscribers %}

                                            <tr data-id="1">
                                                <td><input type="checkbox" name="selected_subscribers" value="{{ subscriber.id }}"></td>
                                                <td data-field="id" style="width: 80px">{{forloop.counter}}</td>
                                                <td data-field="name"><b><a href="#">{{subscriber.name}}</td></a></b>
                                                <td> {{subscriber.email}} </td>
                                                <td data-field="blacklist_reason">
                                                    {% if not subscriber.is_backlist %}
                                                    No
                                                {% else %}
                                                    Yes
                                                {% endif %}
                                                </td>
                                                <td data-field="campaign_sent">{{subscriber.campaign_sent}}</td>
                                                <td style="width: 100px">
                                                    {{subscriber.last_sent}}
                                                </td>
                                                
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            
                                {% if subscribers.has_other_pages %}
                                <nav aria-label="...">
                                    <ul class="pagination">
                                        {% if subscribers.has_previous %}
                                            <li class="page-item ">
                                                <a class="page-link" href="?page={{ subscribers.previous_page_number }}" tabindex="-1">Previous</a>
                                            </li>
                                        {% else %}
                                            <li class="page-item disabled">
                                                <a class="page-link" tabindex="-1">Previous</a>
                                            </li>
                                        {% endif %}

                                        {% for i in subscribers.paginator.page_range %}

                                            {% if subscribers.number == i %}
                                                <li class="page-item active">
                                                    <a class="page-link" > {{ i }} <span class="sr-only">(current)</span></a>
                                                </li>
                                            {% else %}
                                            <li class="page-item"><a class="page-link" href="?page={{ i }}">{{i}}</a></li>
                                            {% endif %}

                                        {% endfor %}

                                        {% if subscribers.has_next %}
                                            <li class="page-item">
                                                <a class="page-link" href="?page={{ subscribers.next_page_number }}">Next</a>
                                            </li>
                                        {% else %}
                                            <li class="page-item disabled">
                                                <a class="page-link" href="#">Next</a>
                                            </li>
                                        {% endif %}
                                    </ul>
                                </nav>
                                {% endif %}
                            </div>
                        </div>
                    </div> <!-- end col -->
                </div> <!-- end row -->

            </div> <!-- container-fluid -->
        </div>
        <!-- End Page-content -->
    </div>



    {% comment %} modals {% endcomment %}
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static"
        data-bs-keyboard="false" tabindex="-1" role="dialog"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Add Campaign
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>

                <form method='post' action="{% url 'create_campaign' %}?source=Subscriber" class="container">
                    {% csrf_token %}
                    <input type="hidden" name="q" value="{{ request.GET.q }}" id="">
                    <div class="mb-3 mt-3 row">
                        <label for="name" class="col-md-2 col-form-label">Campaign Name</label>
                        <div class="col-md-10">
                            <input class="form-control" type="text"  name="name" id="name">
                        </div>
                    </div>
                    <div class="mb-3 mt-3 row">
                        <label for="template_id" class="col-md-2 col-form-label">Select Template</label>
                        <div class="col-md-10">
                            <select name="template_id" id="template_id" class="form-control">
                                <option value="">Select Template</option>
                                {% for t in templates %}
                                <option value="{{t.id}}">{{ t.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="mb-3 mt-3 row">
                        <label for="name" class="col-md-2 col-form-label">Total Participant</label>
                        <div class="col-md-10">
                            <input class="form-control" type="text" disabled value="{{subscribers.paginator.count}}" id="name">
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-light waves-effect"
                            data-bs-dismiss="modal">Close</button>
                        <button type="submit"
                            class="btn btn-primary waves-effect waves-light">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script>
        document.getElementById('select_all').onclick = function() {
            var checkboxes = document.querySelectorAll('input[type="checkbox"]');
            for (var checkbox of checkboxes) {
                checkbox.checked = this.checked;
            }
        }
    </script>
{% endblock %}