{% extends 'management/base.html' %}


{% block content %}
<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="main-content">

    <div class="page-content">
        <div class="container-fluid">

            <!-- start page title -->
            <div class="row">
                <div class="col-sm-6">
                    <div class="page-title-box">
                        <h4>Superuser List Table</h4>
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="{% url 'superuser_list' %}">superuser</a></li>
                            <li class="breadcrumb-item"><a href="{% url 'create_superuser' %}">create_superuser</a></li>
                        </ol>
                    </div>
                </div>

            </div>
            <!-- end page title -->

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">

                            <h4 class="card-title">Table Edits</h4>
                            <p class="card-title-desc">Table Edits is a lightweight jQuery plugin for making table rows
                            editable.</p>
                            {% if user.is_superuser  %}
                            <div style="text-align: end;">
                                <a href="{% url 'create_superuser' %}" class="btn btn-primary">Add Superuser</a>
                            </div>
                            {% endif %}

                            <div class="table-responsive">
                                <table class="table table-editable table-nowrap align-middle table-edits">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Username</th>
                                            <th>Email</th>
                                            <th>Age</th>
                                            <th>Gender</th>
                                            <th>Edit</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        {% for superuser in superusers %}

                                        <tr data-id="1">
                                            <td data-field="id" style="width: 80px">{{forloop.counter}}</td>
                                            <td data-field="name"><b><a href="profile/{{superuser.id}}">{{superuser.username}}</td></a></b>
                                            <td> {{superuser.email}} </td>
                                            <td data-field="age">{{superuser.profile.age}}</td>
                                            <td data-field="gender">{{superuser.profile.gender}}</td>
                                            <td style="width: 100px">
                                                <a class="btn btn-outline-secondary btn-sm edit" title="Edit">
                                                    <i class="fas fa-pencil-alt"></i>
                                                </a>
                                            </td>
                                            
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            {% if superusers.has_other_pages %}
                            <nav aria-label="...">
                                <ul class="pagination">
                                    {% if superusers.has_previous %}
                                        <li class="page-item ">
                                            <a class="page-link" href="?page={{ superusers.previous_page_number }}" tabindex="-1">Previous</a>
                                        </li>
                                    {% else %}
                                        <li class="page-item disabled">
                                            <a class="page-link" tabindex="-1">Previous</a>
                                        </li>
                                    {% endif %}
                                    {% for i in superusers.paginator.page_range %}
                                        {% if superusers.number == i %}
                                            <li class="page-item active">
                                                <a class="page-link" > {{ i }} <span class="sr-only">(current)</span></a>
                                            </li>
                                        {% else %}
                                        <li class="page-item"><a class="page-link" href="?page={{ i }}">{{i}}</a></li>
                                        {% endif %}

                                    {% endfor %}

                                    {% if superusers.has_next %}
                                        <li class="page-item">
                                            <a class="page-link" href="?page={{ superusers.next_page_number }}">Next</a>
                                        </li>
                                    {% else %}
                                        <li class="page-item disabled">
                                            <a class="page-link" href="#">Next</a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </nav>
                            {% endif %}
                        </div>
                    </div>
                </div> <!-- end col -->
            </div> <!-- end row -->

        </div> <!-- container-fluid -->
    </div>
    <!-- End Page-content -->
    {% endblock %}