<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form>
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <div class="input-group mb-3">
                <span class="input-group-text">
                  <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="20" height="20" viewBox="0 0 20 20">
                    <path d="M18.869 19.162l-5.943-6.484c1.339-1.401 2.075-3.233 2.075-5.178 0-2.003-0.78-3.887-2.197-5.303s-3.3-2.197-5.303-2.197-3.887 0.78-5.303 2.197-2.197 3.3-2.197 5.303 0.78 3.887 2.197 5.303 3.3 2.197 5.303 2.197c1.726 0 3.362-0.579 4.688-1.645l5.943 6.483c0.099 0.108 0.233 0.162 0.369 0.162 0.121 0 0.242-0.043 0.338-0.131 0.204-0.187 0.217-0.503 0.031-0.706zM1 7.5c0-3.584 2.916-6.5 6.5-6.5s6.5 2.916 6.5 6.5-2.916 6.5-6.5 6.5-6.5-2.916-6.5-6.5z"></path>
                  </svg>
                </span>
                <input type="text" class="form-control" placeholder="Search..." aria-label="Search" aria-describedby="basic-addon1">
                <span class="input-group-text">108 results</span>
              </div>
            </div>
            <div class="col-md-6">
              <div class="input-group mb-3">
                <button class="btn btn-outline-secondary" type="button">Advanced Search</button>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="input-group mb-3">
                <select class="form-select" aria-label="Default select example">
                  <option selected>ACCESSORIES</option>
                  <option value="1">ACCESSORIES</option>
                  <option value="2">SUBJECT B</option>
                </select>
              </div>
            </div>
            <div class="col-md-4">
              <div class="input-group mb-3">
                <select class="form-select" aria-label="Default select example">
                  <option selected>COLOR</option>
                  <option value="1">GREEN</option>
                  <option value="2">SUBJECT B</option>
                </select>
              </div>
            </div>
            <div class="col-md-4">
              <div class="input-group mb-3">
                <select class="form-select" aria-label="Default select example">
                  <option selected>SIZE</option>
                  <option value="1">SIZE</option>
                  <option value="2">SUBJECT B</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="input-group mb-3">
                <select class="form-select" aria-label="Default select example">
                  <option selected>SALE</option>
                  <option value="1">SALE</option>
                  <option value="2">SUBJECT B</option>
                </select>
              </div>
            </div>
            <div class="col-md-4">
              <div class="input-group mb-3">
                <select class="form-select" aria-label="Default select example">
                  <option selected>THIS WEEK</option>
                  <option value="1">THIS WEEK</option>
                  <option value="2">SUBJECT B</option>
                </select>
              </div>
            </div>
            <div class="col-md-4">
              <div class="input-group mb-3">
                <select class="form-select" aria-label="Default select example">
                  <option selected>TYPE</option>
                  <option value="1">TYPE</option>
                  <option value="2">SUBJECT B</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="input-group mb-3">
                <button type="button" class="btn btn-primary">Search</button>
                <button type="button" class="btn btn-secondary" id="delete">Reset</button>
              </div>
            </div>
          </div>
        </div>
      </form>
      
</body>
</html>